<div id="check_suite_458536751" class="js-socket-channel js-updatable-content" data-retain-focus="" data-channel="check_suites:458536751" data-url="/jasonlong/mater/suites/458536751/show_partial?check_suite_focus=true&amp;check_suite_selected=false&amp;selected_check_run_id=446005811">

<details class="checks-list-item" id="sidebar_check_suite_458536751" open="">

  <!-- '"` --><!-- </textarea></xmp> --><form class="d-none js-mark-cs-notification-form" action="/_graphql/MarkNotificationSubjectAsRead" accept-charset="UTF-8" data-remote="true" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="6rLOz8GHqDisLQlFT3A9LqlvTDiZ0NQST3VKWAd8J/2YsYgjaAIu1kTgDEti+fB3D656vpJ9NhQQ9WSUJNANTw==">
    <input type="hidden" name="variables[subjectId]" value="MDEwOkNoZWNrU3VpdGU0NTg1MzY3NTE=">
</form>
<summary class="checks-list-item pl-2 border-right-0 border-left-0 border-top-0 border-bottom f6 py-3 text-left width-full  bg-white text-gray-light ">
  <div class="d-inline-flex flex-items-baseline pr-4">
    <span class="m-1">
        <svg class="octicon octicon-workflow mr-1 text-gray-light selected-color-white replaced" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" clip-rule="evenodd" d="M0 1.75C0 0.783502 0.783502 0 1.75 0H5.25C6.2165 0 7 0.783502 7 1.75V5.25C7 6.2165 6.2165 7 5.25 7H4V11C4 11.5523 4.44772 12 5 12H9V10.75C9 9.7835 9.7835 9 10.75 9H14.25C15.2165 9 16 9.7835 16 10.75V14.25C16 15.2165 15.2165 16 14.25 16H10.75C9.7835 16 9 15.2165 9 14.25V13.5H5C3.61929 13.5 2.5 12.3807 2.5 11V7H1.75C0.783502 7 0 6.2165 0 5.25V1.75ZM1.75 1.5C1.61193 1.5 1.5 1.61193 1.5 1.75V5.25C1.5 5.38807 1.61193 5.5 1.75 5.5H5.25C5.38807 5.5 5.5 5.38807 5.5 5.25V1.75C5.5 1.61193 5.38807 1.5 5.25 1.5H1.75ZM10.75 10.5C10.6119 10.5 10.5 10.6119 10.5 10.75V14.25C10.5 14.3881 10.6119 14.5 10.75 14.5H14.25C14.3881 14.5 14.5 14.3881 14.5 14.25V10.75C14.5 10.6119 14.3881 10.5 14.25 10.5H10.75Z"></path></svg>
    </span>
    <span class="d-inline-block h5 mr-3  text-gray-dark ">
        <a class="css-truncate css-truncate-target v-align-middle f5 text-gray-dark selected-color-white no-underline" style="max-width: 240px" href="/jasonlong/mater/actions/runs/39333284">Node.js CI</a>

        <span class="f6 text-normal css-truncate d-block  text-gray-light  mr-3">
          on: push
        </span>
    </span>
  </div>
</summary>

<div class="border-bottom bg-gray-light">

    <div class="d-flex position-relative checks-list-item ">

      <div class="checks-list-item-name width-full pl-6">
        <div class="flex-auto mb-0 text-gray-light">
          <span class="checks-list-item-icon d-inline-block text-center mx-1 v-align-middle selected-color-white" title="This check passed">
            <svg class="octicon octicon-check text-green selected-color-white replaced" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" clip-rule="evenodd" d="M13.78 4.22C13.9204 4.36062 13.9993 4.55125 13.9993 4.75C13.9993 4.94875 13.9204 5.13937 13.78 5.28L6.53 12.53C6.38937 12.6704 6.19875 12.7493 6 12.7493C5.80125 12.7493 5.61062 12.6704 5.47 12.53L2.22 9.28C2.08752 9.13782 2.0154 8.94978 2.01882 8.75547C2.02225 8.56117 2.10096 8.37579 2.23838 8.23837C2.37579 8.10096 2.56118 8.02225 2.75548 8.01882C2.94978 8.01539 3.13782 8.08752 3.28 8.22L6 10.94L12.72 4.22C12.8606 4.07955 13.0512 4.00066 13.25 4.00066C13.4487 4.00066 13.6394 4.07955 13.78 4.22Z"></path></svg>
          </span>
          <span class="f5 text-normal" title="build (10.x)">
            <a class="btn-link css-truncate css-truncate-target v-align-middle no-underline text-left py-2 selected-color-white js-check-suite-focus-link" style="max-width:175px" href="/jasonlong/mater/runs/446005806?check_suite_focus=true">
              build (10.x)
</a>                </span>
        </div>
      </div>


    </div>


    <div class="d-flex position-relative checks-list-item selected" id="js-selected-check-run" data-failed="false">

      <div class="checks-list-item-name width-full pl-6">
        <div class="flex-auto mb-0 text-gray-light">
          <span class="checks-list-item-icon d-inline-block text-center mx-1 v-align-middle selected-color-white" title="This check passed">
            <svg class="octicon octicon-check text-green selected-color-white replaced" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" clip-rule="evenodd" d="M13.78 4.22C13.9204 4.36062 13.9993 4.55125 13.9993 4.75C13.9993 4.94875 13.9204 5.13937 13.78 5.28L6.53 12.53C6.38937 12.6704 6.19875 12.7493 6 12.7493C5.80125 12.7493 5.61062 12.6704 5.47 12.53L2.22 9.28C2.08752 9.13782 2.0154 8.94978 2.01882 8.75547C2.02225 8.56117 2.10096 8.37579 2.23838 8.23837C2.37579 8.10096 2.56118 8.02225 2.75548 8.01882C2.94978 8.01539 3.13782 8.08752 3.28 8.22L6 10.94L12.72 4.22C12.8606 4.07955 13.0512 4.00066 13.25 4.00066C13.4487 4.00066 13.6394 4.07955 13.78 4.22Z"></path></svg>
          </span>
          <span class="f5 text-normal" title="build (12.x)">
            <a class="btn-link css-truncate css-truncate-target v-align-middle no-underline text-left py-2 selected-color-white js-check-suite-focus-link" style="max-width:175px" href="/jasonlong/mater/runs/446005811?check_suite_focus=true">
              build (12.x)
</a>                </span>
        </div>
      </div>


    </div>

</div>

</details>
</div>
